.table-words{
    margin: 150px auto;
    width: 73%;
    background-color: rgba(254, 193, 150, 0.5);
    font-size: 18px;
}

th, td{
    text-align: center;
    padding: 25px;
    color: #fff;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(254, 193, 150, 0.459);
}

th {
    font-size: 23px;
}

.td_input{
  
    width: 200px;
    max-width: 100%;
    padding: 15px;

    border: none;
    outline: none;
    box-shadow: 0 0 10px #FEC196;
    font-size: 16px;
    color: #d89a78;
    font-weight: 600;
}
.table-btn__container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.table-btn{

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    box-shadow: 0 0 10px #FEC196;
    border: none;

    background-color: #FEC196;
    font-family: "Jost", sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: medium;
    
    transition: 0.5s;
    cursor: pointer;
}
.table-btn:hover {
    background-color: #FFA686;
}
.table-btn:active {
    transform: scale(0.99);
}

.changed-background{
    background-color: #fec1966b;
}
.error-input {
    border: 2px solid red;
}
.table-btn.disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
  }