.table{
    margin: 150px auto;
    /* background-color: rgba(129, 136, 238, 0.301); */
    background-color: rgba(22, 201, 141, 0.397);
    width: 100%;
    font-size: 18px;
    padding: 20px;
}

th, td{
    text-align: center;
    padding: 20px;
}
thead{
    color: rgb(33, 22, 44);
    font-size: large;
}

.td_input{
    width: 120px;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px #555555;
}
.table-btn{
    display: flex;
    gap: 10px;
}
.table-btn button{
    height: 50px;
    width: 120px;
    font-size: 18px;
    background-color: white;
    color: #0e0e0e;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--0e0e0e);
    transition: 0.5s;
    box-shadow: 0 0 10px #555555;
    cursor: pointer;
    font-family: "Jost", sans-serif;
}

.table-btn .btn-yellow:hover {
    background-color: rgba(255, 166, 0, 0.459);
    text-decoration: none;
}

.table-btn .btn-green:hover {
    background-color: rgba(15, 197, 9, 0.452);
    text-decoration: none;
}

.table-btn .btn-red:hover {
    background-color: rgba(223, 41, 56, 0.5);
    text-decoration: none;
}

.table-btn .btn-blue:hover {
    background-color: rgba(10, 182, 194, 0.548);
    text-decoration: none;
}

.table-btn button:active {
    transform: scale(0.99);
}

.changed-background{
    background-color: rgba(17, 109, 78, 0.219);
}