.card-wrapper {
    width: 500px;
    height: 400px;

    padding: 10px 0;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background: linear-gradient(75deg, #916066, #D6A184);
    box-shadow: 10px 15px 15px #AA767C;
    text-align: center;
    color: #fff;
}
/* .card-wrapper:hover{
    transform: scale(1.06);
} */
.card-wrapper-left{
    translate: scaleX(-10px);
}
.card-wrapper-right{
    transform: scaleX(10px);
}
.card-content{
    display: flex;
    flex-direction: column;
}
.card-text {
   font-size: 40px;
   font-weight: bold;
}
.transcription{
    font-size: 18px;
}
.card-btn {
    padding: 25px 35px;
    font-size: 25px;
    text-align: center;
    font-family: "Jost", sans-serif;
    color: #fff;
    
    cursor: pointer; 
    background-color: transparent; 
    border: 1px solid var(--0e0e0e);
    transition: 0.5s;
    box-shadow: 0 0 10px #a7676e; 
}
.card-btn:hover {
    background-color: rgba(255, 166, 134, 0.555);
    text-decoration: none;
}
.card_color{
    margin: 0 auto;
    color: #FEC196;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 40px;
    font-weight: bold;
}
.back-btn{
    padding: 5px 15px;
 
    border-radius: 60px;
    cursor: pointer; 
    background-color: transparent; 

    border: 1px solid var(--0e0e0e);
    transition: 0.2s;
    box-shadow: 0 0 10px #AA767C;
    color: #fff;
}
.back-btn:hover {
    background-color: #D6A184;
}
.back-btn:active {
    transform: scale(0.9);
}
.focused {
    animation: btn 2s infinite alternate;
    outline: none;
}

@keyframes btn {
    0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
    }
    100% {
    text-shadow: 0 0 15px #fe96ed, 0 0 20px #ebdee3, 0 0 25px #ecb575;
    }
}