/* .footer {
    padding: 20px 0;
    background: transparent;
    font-family: "Jost",sans-serif;
} */
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-container img {
    width: 150px;
}
.footer-title{
    font-family: "Jost",sans-serif;
    font-size: 30px;
    color: #fff;
}