.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main {
  margin: 0 auto;
  font-family: "Jost" , sans-serif;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}