.slider{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    width: 50%;
    margin: 150px auto;
    gap: 20px;
}
.slider-btn{
    padding: 7px 10px;
 
    border-radius: 60px;
    cursor: pointer; 
    background-color: transparent; 

    border: 1px solid var(--0e0e0e);
    transition: 0.2s;
    box-shadow: 0 0 10px #AA767C;
}
.slider-btn:hover {
    background-color:  #D6A184;
}
.slider-btn:active {
    transform: scale(0.9);
}
.img-left{
    transform: scaleX(-1);
}
.slider-img {
    width: 50px;
}
.slider-cards {
    transition: transform 0.5s ease-in-out;
}
.prev {
    transform: translateX(15px);
}
.next {
    transform: translateX(-15px);
}
